@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* Comentário */


/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

#topo {
    height: 20vh;
    margin-bottom: 20px;
    background: linear-gradient(#fae7d7, white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-topo {
    width: 100vw;
    padding-left: 30px;
}

#titulo {
    color: #e7b192;
    font-family: 'Acme', sans-serif;
    font-size: 80px;
}

.box-dicas {
    background-color: #fae7d7;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70vw;
    border-radius: 10px;
}

.titulo-destaque {
    color: #e7b192;
    font-weight: 700;
}

.titulo-paginas {
    font-size: 50px;
    color: #e7b192;
    font-weight: 700;
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-bottom: 20px;
}

.box-dicas h5 {
    color: #e7b192;
    font-weight: 500;
}

p {
    color: #474747;
    font-weight: 200;
}

.box-dicas header {
    margin-bottom: 10px;
}

.box-noticia {
    background-color: #fae7d7;
    font-family: 'Roboto', sans-serif;
    width: 23vw;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.centralizado {
    margin-left: auto;
    margin-right: auto;
    width: 71vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secao-noticias {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-box-noticia {
    width: 100%;
}

.titulo-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rodape {
    justify-content: center;
    border-top: 3px solid #F5C6AA;
    display: flex;
    height: 20vh;
    margin-top: 30px;
    padding-top: 20px;
}

.box-noticia:hover {
    opacity: 0.9;
}

.item-menu {
    text-decoration: none;
    margin: 15px;
    color: #e7b192;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.item-menu:hover {
    border-bottom: 3px solid #F5C6AA;
}

.menu {
    width: 100%;
    text-align: right;
    padding-right: 30px;
}